[Unit]
Description=Make xterm(1) read its config file whenever it changes

[Service]
Type=simple

# Don't pass `-merge` to `xrdb(1)`.  The result is too unpredictable.
# We want to start xterm in a known and predictable state.
ExecStart=/usr/bin/xrdb %h/.Xresources
