; `man npmrc`
; `man npm-config`

; Necessary to be able to install global packages as the current user.{{{
;
;     ✔
;     $ npm install --global <package>
;
; We don't need nor want to install packages as root (i.e. with `sudo(8)`):
;
;     ✘
;     $ sudo npm install --global <package>
;       ^--^
;
; https://stackoverflow.com/a/59227497
;
; ---
;
; For more info on the difference between global and local packages:
; https://nodejs.dev/learn/npm-global-or-local-packages
;}}}
prefix=~/.local/
